@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy'), url(../fonts/Satisfy.ttf) format('truetype');
}

.main{
    padding-top: 70px;
    background: #000000;
}

.white{
    color: #ffffff;
}

.second-row{
    padding-top: 50px;
}

.font{
    font-family: 'Satisfy', cursive;
}

.red{
    color: #F21313;
}

.green{
    color: #007d00;
}

#footer{
    position: fixed;
    bottom: 1%;
    right: 1%;
}